.macbook-air-11-child {
  position: absolute;
  top: 4px;
  left: 0;
  background: linear-gradient(112.67deg, #964afd, #487afd);
  width: 1280px;
  height: 832px;
}
.macbook-air-11-item {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-darkslategray);
  width: 1280px;
  height: 104px;
}
.image-1-icon {
  position: absolute;
  top: 25px;
  left: 38px;
  width: 51px;
  height: 51px;
  object-fit: cover;
}
.gradegenius {
  position: absolute;
  top: 35px;
  left: 115px;
}
.image-2-icon,
.image-3-icon {
  position: absolute;
  object-fit: cover;
}
.image-2-icon {
  top: 28px;
  left: 1095px;
  border-radius: var(--br-351xl);
  width: 51px;
  height: 52px;
}
.image-3-icon {
  top: 36px;
  left: 1214px;
  width: 31px;
  height: 31px;
}
.macbook-air-11-inner,
.polygon-icon,
.rectangle-div {
  position: absolute;
  top: 49px;
  left: 1162.8px;
  width: 10.39px;
  height: 9px;
}
.polygon-icon,
.rectangle-div {
  top: 795px;
  left: 1178.8px;
}
.rectangle-div {
  top: 178px;
  left: 299px;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  box-shadow: 12px 12px 9px 1px rgba(0, 0, 0, 0.13);
  width: 959px;
  height: 583px;
}
.crear-usuario {
  position: absolute;
  top: 197px;
  left: 405px;
  font-size: var(--font-size-41xl);
  text-decoration: underline;
  display: inline-block;
  color: var(--color-black);
  text-align: center;
  width: 772px;
  height: 92px;
}
.line-div {
  position: absolute;
  top: 301.5px;
  left: 328.5px;
  border-top: 3px solid var(--color-black);
  box-sizing: border-box;
  width: 904px;
  height: 3px;
}
.component-35,
.component-36 {
  position: absolute;
  top: 675px;
  left: 532px;
  width: 198px;
  height: 58px;
}
.component-36 {
  left: 847px;
}
.component-22-child,
.component-22-item,
.macbook-air-11-child1 {
  position: absolute;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.06);
  filter: blur(1px);
}
.macbook-air-11-child1 {
  height: 7.45%;
  width: 20.94%;
  top: 27.28%;
  right: 78.98%;
  bottom: 65.26%;
  left: 0.08%;
  background-color: var(--color-gray-300);
}
.component-22-child,
.component-22-item {
  right: 0;
}
.component-22-child {
  margin: 0;
  height: 100%;
  width: 96.75%;
  top: 0;
  bottom: 0;
  left: 3.25%;
  background-color: var(--color-gray-200);
}
.component-22-item {
  height: 8.65%;
  width: 100%;
  top: 17.03%;
  bottom: 74.31%;
  left: 0;
  border-top: 1px solid var(--color-darkslateblue);
  border-bottom: 1px solid var(--color-darkslateblue);
  box-sizing: border-box;
}
.manejo-de-asignaturas {
  position: absolute;
  top: 31.15%;
  left: 31.05%;
  font-size: var(--font-size-mini);
  font-weight: 500;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: left;
}
.libros-3-icon {
  position: absolute;
  height: 59.02%;
  width: 13%;
  top: 21.31%;
  right: 72.92%;
  bottom: 19.67%;
  left: 14.08%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.component-5-child {
  position: absolute;
  height: 103.28%;
  width: 100%;
  top: -1.64%;
  right: 0;
  bottom: -1.64%;
  left: 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.06);
  filter: blur(1px);
  border-top: 1px solid var(--color-darkslateblue);
  border-bottom: 1px solid var(--color-darkslateblue);
  box-sizing: border-box;
}
.component-5,
.component-6 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 8.38%;
  width: 100%;
  top: 8.52%;
  right: 0;
  bottom: 83.1%;
  left: 0;
}
.component-31:hover,
.component-5:hover,
.component-6:hover,
.component-7:hover,
.component-8:hover {
  border: 2px solid var(--color-fuchsia-100);
  box-sizing: border-box;
}
.component-6 {
  top: 17.17%;
  bottom: 74.45%;
}
.capitulo-2-icon {
  position: absolute;
  height: 59.02%;
  width: 13%;
  top: 22.95%;
  right: 72.92%;
  bottom: 18.03%;
  left: 14.08%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.component-7 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 8.38%;
  width: 100%;
  top: 25.69%;
  right: 0;
  bottom: 65.93%;
  left: 0;
}
.inicio {
  position: absolute;
  top: 31.15%;
  left: 45.49%;
  font-size: var(--font-size-mini);
  font-weight: 500;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: left;
}
.component-31,
.component-8 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 8.38%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 91.62%;
  left: 0;
}
.component-31 {
  top: 91.62%;
  bottom: 0;
}
.component-22,
.id-o-matrcula {
  position: absolute;
  top: 104px;
  left: -8px;
  width: 277px;
  height: 728px;
}
.id-o-matrcula {
  height: 7.73%;
  width: 17.18%;
  top: 26.43%;
  left: 0;
  font-size: var(--font-size-xl);
  display: inline-block;
  font-family: var(--font-poppins);
  color: var(--color-black);
  text-align: right;
}
.component-48-child {
  border: 1px solid var(--color-black);
  background-color: var(--color-silver);
  position: absolute;
  height: 14.96%;
  width: 28.38%;
  top: 21.95%;
  right: 52.33%;
  bottom: 63.09%;
  left: 19.29%;
  border-radius: var(--br-xl);
  box-sizing: border-box;
  padding-left: 20px;
  font-size: 20px;
}
.component-48-child:hover {
  border: 2px solid #f90606;
  box-sizing: border-box;
}
.contrasea,
.estado {
  position: absolute;
  height: 7.48%;
  width: 17.18%;
  top: 47.63%;
  left: 0;
  font-size: var(--font-size-xl);
  display: inline-block;
  font-family: var(--font-poppins);
  color: var(--color-black);
  text-align: right;
}
.contrasea {
  top: 67.83%;
  left: -0.33%;
}
.component-48-item {
  border: 1px solid var(--color-black);
  background-color: var(--color-silver);
  position: absolute;
  height: 14.96%;
  width: 28.38%;
  top: 64.09%;
  right: 52.66%;
  bottom: 20.95%;
  left: 18.96%;
  border-radius: var(--br-xl);
  box-sizing: border-box;
  padding-left: 20px;
  font-size: 20px;
}
.component-48-item:hover {
  border: 2px solid var(--color-red-300);
  box-sizing: border-box;
}
.email {
  position: absolute;
  height: 7.48%;
  width: 17.18%;
  top: 47.63%;
  left: 52.33%;
  font-size: var(--font-size-xl);
  display: inline-block;
  font-family: var(--font-poppins);
  color: var(--color-black);
  text-align: right;
}
.component-48-inner {
  border: 1px solid var(--color-black);
  background-color: var(--color-silver);
  position: absolute;
  height: 14.96%;
  width: 28.38%;
  top: 43.89%;
  right: 0;
  bottom: 41.15%;
  left: 71.62%;
  border-radius: var(--br-xl);
  box-sizing: border-box;
  padding-left: 20px;
  font-size: 20px;
}
.component-48-inner:hover {
  border: 2px solid var(--color-red-200);
  box-sizing: border-box;
}
.nombre-del-usuario {
  position: absolute;
  height: 13.72%;
  width: 14.97%;
  top: 0;
  left: 1.88%;
  font-size: var(--font-size-xl);
  display: inline-block;
  font-family: var(--font-poppins);
  color: var(--color-black);
  text-align: right;
}
.rectangle-input {
  border: 1px solid var(--color-black);
  background-color: var(--color-silver);
  position: absolute;
  height: 14.96%;
  width: 28.49%;
  top: 0;
  right: 52.33%;
  bottom: 85.04%;
  left: 19.18%;
  border-radius: var(--br-xl);
  box-sizing: border-box;
  padding-left: 20px;
  font-size: 20px;
}
.rectangle-input:hover {
  border: 2px solid #e80f0f;
  box-sizing: border-box;
}
.fecha-de-nacimiento,
.rol {
  position: absolute;
  height: 9.48%;
  width: 11.42%;
  top: 4.24%;
  left: 57.98%;
  font-size: var(--font-size-xl);
  display: inline-block;
  font-family: var(--font-poppins);
  color: var(--color-black);
  text-align: right;
}
.fecha-de-nacimiento {
  height: 13.72%;
  width: 17.96%;
  top: 21.95%;
  left: 51.55%;
}
.component-48-child1,
.rectangle-button {
  border: 1px solid var(--color-black);
  background-color: var(--color-silver);
  position: absolute;
  height: 14.96%;
  width: 28.49%;
  top: 22.69%;
  right: 0;
  bottom: 62.34%;
  left: 71.51%;
  border-radius: var(--br-xl);
  box-sizing: border-box;
  padding-left: 20px;
  font-size: 20px;
}
.component-48-child1:hover {
  border: 2px solid #f10d0d;
  box-sizing: border-box;
}
.rectangle-button {
  cursor: pointer;
  border: 2px solid var(--color-black);
  padding: 0;
  background-color: var(--color-lawngreen);
  height: 14.46%;
  width: 21.95%;
  top: 85.54%;
  right: 53.99%;
  bottom: 0;
  left: 24.06%;
  border-radius: var(--br-3xs);
  padding-left: 20px;
  font-size: 20px;
}
.rectangle-button:hover {
  border: 2px solid #f50d0d;
  box-sizing: border-box;
}
.disquete-1-icon {
  position: absolute;
  height: 10.47%;
  width: 4.66%;
  top: 87.53%;
  right: 69.29%;
  bottom: 2%;
  left: 26.05%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.component-48-child2 {
  cursor: pointer;
  border: 2px solid var(--color-black);
  padding: 0;
  background-color: var(--color-red-700);
  position: absolute;
  height: 14.46%;
  width: 21.95%;
  top: 85.54%;
  right: 19.07%;
  bottom: 0;
  left: 58.98%;
  border-radius: var(--br-3xs);
  box-sizing: border-box;
  padding-left: 20px;
  font-size: 20px;
}
.component-48-child2:hover {
  border: 2px solid var(--color-red-600);
  box-sizing: border-box;
}
.cancelar-1-1 {
  position: absolute;
  height: 10.47%;
  width: 4.66%;
  top: 87.53%;
  right: 34.37%;
  bottom: 2%;
  left: 60.98%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.matrcula-o-id {
  cursor: pointer;
  position: absolute;
  height: 61.36%;
  width: 94.76%;
  top: 21.59%;
  left: 2.96%;
  font-weight: 600;
  display: inline-block;
  text-align: center;
}
.component-51-child {
  border: 1px solid var(--color-black);
  background-color: var(--color-silver);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-xl);
  box-sizing: border-box;
  padding-left: 20px;
  font-size: 20px;
}
.component-51-child:hover {
  border: 2px solid var(--color-red-200);
  box-sizing: border-box;
}
.component-71-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-xl);
  background: linear-gradient(
    92.12deg,
    rgba(235, 11, 11, 0.9),
    rgba(211, 114, 0, 0.9)
  );
}.component-71 {
  position: absolute;
  top: 118px;
  left: 576px;
  width: 439px;
  height: 88px;
  font-size: 31px;
}
.component-51-item {
  position: absolute;
  height: 26.25%;
  width: 8.09%;
  top: 38.75%;
  right: 4.13%;
  bottom: 35%;
  left: 87.79%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.component-51,
.component-52 {
  position: absolute;
  height: 14.96%;
  width: 28.49%;
  top: 43.89%;
  right: 52.22%;
  bottom: 41.15%;
  left: 19.29%;
}
.component-52 {
  top: 0;
  right: 0;
  bottom: 85.04%;
  left: 71.51%;
}
.carrera-del-usuario {
  position: absolute;
  height: 14.46%;
  width: 15.96%;
  top: 65.34%;
  left: 53.55%;
  font-size: var(--font-size-xl);
  display: inline-block;
  font-family: var(--font-poppins);
  color: var(--color-black);
  text-align: right;
}
.component-53 {
  position: absolute;
  height: 14.96%;
  width: 28.49%;
  top: 64.09%;
  right: 0;
  bottom: 20.95%;
  left: 71.51%;
}
.component-48 {
  position: absolute;
  top: 334px;
  left: 313px;
  width: 902px;
  height: 401px;
}
.macbook-air-11 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 832px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-poppins);
}
