body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-poppins: Poppins;

  /* font sizes */
  --font-size-mini: 15px;
  --font-size-xl: 20px;
  --font-size-41xl: 60px;
  --font-size-6xl: 25px;
  --font-size-45xl: 64px;
  --font-size-17xl: 36px;
  --font-size-base: 16px;
  --font-size-13xl: 32px;
  --font-size-sm: 14px; /* New */
  --font-size-16xl: 35px;
  --font-size-5xl: 24px;

  /* Colors */
  --color-white: #fff;
  --color-fuchsia-100: #ea00ff;
  --color-darkslateblue: rgba(66, 35, 108, 0.3);
  --color-gray-100: #838383;
  --color-gray-400: rgba(255, 255, 255, 0);
  --color-gray-300: rgba(255, 255, 255, 0.25);
  --color-gray-200: rgba(255, 255, 255, 0.1);
  --color-black: #000;
  --color-silver: rgba(192, 192, 192, 0.29);
  --color-red-1000: #f50f0f;
  --color-red-200: #fc0b0b;
  --color-red-1100: #f50e0e;
  --color-red-1200: #fb0a0a;
  --color-red-300: #f70b0b;
  --color-red-400: #f50b0b;
  --color-red-1400: #f50a0a; /* New */
  --color-red-500: #f30b0b;
  --color-red-1300: #f50909;
  --color-red-600: #f50808;
  --color-red-900: #f30707;
  --color-red-100: #ff0000;
  --color-red-800: rgba(255, 39, 39, 0.78);
  --color-red-700: rgba(235, 0, 0, 0.68);
  --color-lawngreen: rgba(75, 235, 0, 0.79);
  --color-darkslategray: #2f2f2f;
  --color-lime: rgba(57, 255, 39, 0.78);
  --color-gainsboro-300: #e2e2e2;
  --color-gainsboro-100: rgba(217, 217, 217, 0.28);
  --color-gainsboro-200: rgba(217, 217, 217, 0);
  --color-mediumpurple: #af8cff; /* New */
  --color-yellow: rgba(255, 246, 39, 0.78);
  --color-darkgray: #b7aeae;
  --color-blueviolet-200: #6a31e4;
  --color-blueviolet-100: rgba(137, 44, 255, 0.15);
  --color-blueviolet-300: rgba(146, 66, 254, 0.49);
  --color-dodgerblue: rgba(99, 143, 255, 0.17);

  /* Paddings */
  --padding-xl: 20px;

  /* border radiuses */
  --br-xl: 20px;
  --br-3xs: 10px;
  --br-351xl: 370px;
  --br-xs: 12px;
  --br-21xl: 40px;
  --br-mini: 15px;
  --br-6xl: 25px;
  --br-8xs: 5px;
}

.cerrar_sesion {
  position: absolute;
  top: 85px;
  left: 1100px;
  background-color: rgb(223, 46, 46);
  width: 11%;
  height: 5.8%;
  border-radius: 20px;
}

.btn_cerrar_sesion {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 91.62%;
  left: 0;
  border-radius: 18px;
  padding-left: 20%;
  font-weight: bold;
  color: antiquewhite;
  font-size: 16px;
}

.btn_cerrar_sesion:hover {
  border: 2px solid yellow;
  box-sizing: border-box;
}

.img_cerrar_sesion {
  position: absolute;
  height: 59.02%;
  width: 13%;
  top: 22.95%;
  right: 72.92%;
  bottom: 18.03%;
  left: 10.08%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
