@keyframes shadow-drop-bottom {
  0% {
    box-shadow: 0 0 0 0 transparent;
  }
  to {
    box-shadow: 0 12px 20px -12px rgb(0 0 0/35%);
  }
}
@keyframes shadow-inset-center {
  0% {
    box-shadow: inset 0 0 0 0 transparent;
  }
  to {
    box-shadow: inset 0 0 14px 0 rgb(0 0 0/50%);
  }
}
.macbook-air-1-child {
  position: absolute;
  top: -21px;
  left: -6px;
  background-color: rgba(255, 255, 255, 0.17);
  box-shadow: 10px 4px 4px 1px rgba(0, 0, 0, 0.13);
  filter: blur(1px);
  width: 471px;
  height: 866px;
}
.image-1-icon8,
.image-17-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 465px;
  height: 832px;
  object-fit: cover;
}
.image-1-icon8 {
  top: 303px;
  left: 168px;
  width: 123px;
  height: 123px;
}
.gradegenius8,
.hola-de-nuevo {
  position: absolute;
  top: 438px;
  left: 108px;
}
.hola-de-nuevo {
  top: 492px;
  left: 135px;
  font-size: var(--font-size-5xl);
  font-weight: 500;
}
.ingresa-tus-datos {
  position: absolute;
  top: 295px;
  left: 564px;
  font-size: var(--font-size-xl);
}
.bienvenido {
  position: absolute;
  top: 247px;
  left: 564px;
  font-size: 32px;
}
.matrcula {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-5xl);
  font-weight: 600;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: left;
}
.component-2-child {
  border: 0;
  background-color: var(--color-white);
  position: absolute;
  height: 12.43%;
  width: 100%;
  top: 13.61%;
  right: 0;
  bottom: 73.96%;
  left: 0;
  border-radius: var(--br-xs);
  padding-left: var(--padding-xl);
  font-size: var(--font-size-xl);
}
.component-2-child:hover {
  border: 2px solid #ea0e0e;
  box-sizing: border-box;
  animation: 60s ease-in-out s 1 normal none shadow-drop-bottom;
  opacity: 1;
}
.contrasea1 {
  cursor: pointer;
  position: absolute;
  top: 35.5%;
  left: 0;
  font-size: var(--font-size-5xl);
  font-weight: 600;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: left;
}
.component-2-item {
  border: 0;
  background-color: var(--color-white);
  position: absolute;
  height: 12.43%;
  width: 100%;
  top: 49.11%;
  right: 0;
  bottom: 38.46%;
  left: 0;
  border-radius: var(--br-xs);
  padding-left: var(--padding-xl);
  font-size: var(--font-size-xl);
}
.component-2-item:hover {
  border: 2px solid red;
  box-sizing: border-box;
}
.component-2-inner {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 25.74%;
  width: 49.76%;
  top: 74.26%;
  right: 21.97%;
  bottom: 0;
  left: 28.27%;
  border-radius: 25px;
  background: linear-gradient(265.99deg, #d289ec, #86e5f2);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 30px;
  font-weight: bold;
  color: black;
}
.component-2-inner:hover {
  animation: 1s linear 0s infinite alternate-reverse none shadow-inset-center;
  opacity: 1;
}
.component-2 {
  position: absolute;
  top: 364px;
  left: 564px;
  width: 619px;
  height: 338px;
}
.macbook-air-1 {
  position: relative;
  background: linear-gradient(112.67deg, #a364f8, #608cfe), #fff;
  width: 100%;
  height: 832px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--color-white);
  font-family: var(--font-poppins);
}
