.macbook-air-15-child {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(112.67deg, #964afd, #487afd);
  width: 1280px;
  height: 832px;
}
.macbook-air-15-inner,
.macbook-air-15-item {
  border: 0;
  background-color: var(--color-gainsboro-300);
  position: absolute;
  top: 137px;
  left: 668px;
  border-radius: var(--br-xs);
  width: 317px;
  height: 42px;
}
.macbook-air-15-inner {
  top: 130px;
  left: 294px;
}
.macbook-air-15-child1 {
  position: absolute;
  top: 231px;
  left: -7px;
  background-color: var(--color-mediumpurple);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.06);
  filter: blur(1px);
  width: 277px;
  height: 62px;
}
.component-32-child,
.component-38-child,
.component-38-item {
  position: absolute;
  right: 3.15%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.06);
  filter: blur(1px);
}
.component-38-child {
  margin: 0;
  height: 100%;
  width: 93.71%;
  top: 0;
  bottom: 0;
  left: 3.15%;
  background-color: var(--color-gray-200);
}
.component-32-child,
.component-38-item {
  height: 8.65%;
  width: 96.85%;
  top: 17.03%;
  bottom: 74.31%;
  left: 0;
  border-top: 1px solid var(--color-darkslateblue);
  border-bottom: 1px solid var(--color-darkslateblue);
  box-sizing: border-box;
}
.component-32-child {
  height: 103.28%;
  width: 100%;
  top: -1.64%;
  right: 0;
  bottom: -1.64%;
}
.inicio1 {
  position: absolute;
  top: 31.15%;
  left: 45.49%;
  font-size: var(--font-size-mini);
  font-weight: 500;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: left;
}
.pagina-de-inicio-3-icon1 {
  position: absolute;
  height: 59.02%;
  width: 13%;
  top: 21.31%;
  right: 72.92%;
  bottom: 19.67%;
  left: 14.08%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.component-32 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 8.38%;
  width: 96.85%;
  top: 0;
  right: 3.15%;
  bottom: 91.62%;
  left: 0;
}
.component-321:hover,
.component-322:hover,
.component-32:hover,
.component-90:hover {
  border: 2px solid var(--color-fuchsia-100);
  box-sizing: border-box;
}
.calificaciones {
  position: absolute;
  top: 31.15%;
  left: 31.05%;
  font-size: var(--font-size-mini);
  font-weight: 500;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: left;
}
.component-321 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 8.38%;
  width: 96.85%;
  top: 8.52%;
  right: 3.15%;
  bottom: 83.1%;
  left: 0;
}
.capitulo-2-icon1 {
  position: absolute;
  height: 59.02%;
  width: 13%;
  top: 22.95%;
  right: 72.92%;
  bottom: 18.03%;
  left: 14.08%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.component-322 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 8.38%;
  width: 96.85%;
  top: 17.03%;
  right: 3.15%;
  bottom: 74.59%;
  left: 0;
}
.component-38 {
  position: absolute;
  top: 107px;
  left: -8px;
  width: 286px;
  height: 728px;
}
.botn2-child,
.macbook-air-15-child2 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-darkslategray);
  width: 1280px;
  height: 104px;
}
.botn2-child {
  border-radius: var(--br-xs);
  border: 2px solid var(--color-gray-100);
  box-sizing: border-box;
  width: 127px;
  height: 39px;
}
.botn2-item {
  position: absolute;
  top: 16px;
  left: 102.8px;
  width: 10.39px;
  height: 9px;
}
.trimestre {
  position: absolute;
  top: 8px;
  left: 15px;
  font-weight: 500;
}
.botn1-child,
.botn2 {
  position: absolute;
  top: 33px;
  left: 450px;
  width: 127px;
  height: 39px;
}
.botn1-child {
  top: 0;
  left: 0;
  border-radius: var(--br-xs);
  background-color: var(--color-darkslategray);
  border: 2px solid var(--color-gray-100);
  box-sizing: border-box;
  width: 134px;
}
.botn1-item {
  position: absolute;
  top: 16px;
  left: 109.8px;
  width: 10.39px;
  height: 9px;
}
.botn1,
.image-1-icon1 {
  position: absolute;
  top: 33px;
  left: 285px;
  width: 134px;
  height: 39px;
}
.image-1-icon1 {
  top: 25px;
  left: 38px;
  width: 51px;
  height: 51px;
  object-fit: cover;
}
.gradegenius1 {
  position: absolute;
  top: 35px;
  left: 115px;
  font-size: var(--font-size-xl);
}
.image-2-icon1,
.image-3-icon1 {
  position: absolute;
  object-fit: cover;
}
.image-2-icon1 {
  top: 28px;
  left: 1095px;
  border-radius: var(--br-351xl);
  width: 51px;
  height: 52px;
}
.image-3-icon1 {
  top: 36px;
  left: 1214px;
  width: 31px;
  height: 31px;
}
.macbook-air-15-child3 {
  position: absolute;
  top: 49px;
  left: 1162.8px;
  width: 10.39px;
  height: 9px;
}
.macbook-air-15-child4,
.macbook-air-15-child5 {
  position: absolute;
  top: 795px;
  left: 1178.8px;
  width: 10.39px;
  height: 9px;
}
.macbook-air-15-child5 {
  top: 515px;
  left: 547.8px;
}
.div_secciones{
  background-color: black;
  height: 70%;
  width: 70%;
  top: 26%;
  left: 22%;
  position: absolute;
  overflow: auto;

}

/* .div_secciones{
    background-color: black;
    position: absolute;
    width: 71.4%;
    height: 36%;
    border-radius: 20px;
    top: 65.1%;
    left: 20.5%;
    max-height: 36%;
    overflow: auto;
}*/ 
.macbook-air-15-child6 {
  position: absolute;
  top: 106px;
  left: 272px;
  background-color: var(--color-white);
  box-shadow: 0 6px 9px 1px rgba(0, 0, 0, 0.13);
  width: 959px;
  height: 91px;
  border-radius: var(--br-xs);
}
.rectangle-input {
  border: 0;
  background-color: var(--color-gainsboro-300);
  position: absolute;
  top: 130px;
  left: 378px;
  border-radius: var(--br-xs);
  width: 317px;
  height: 42px;
}
.asignatura1 {
  position: absolute;
  top: 135px;
  left: 285px;
  font-weight: 500;
  color: var(--color-gray-100);
  display: inline-block;
  width: 96px;
}
.macbook-air-15-child7 {
  border: 0;
  background-color: var(--color-gainsboro-300);
  position: absolute;
  top: 126px;
  left: 790px;
  border-radius: var(--br-xs);
  width: 317px;
  height: 42px;
}
.seccion {
  position: absolute;
  top: 135px;
  left: 715px;
  font-weight: 500;
  color: var(--color-gray-100);
  display: inline-block;
  width: 96px;
}
.component-90-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 8px;
  background-color: #39ff27;
  border: 1px solid var(--color-black);
  box-sizing: border-box;
}
.image-4-icon {
  position: absolute;
  height: 69.23%;
  width: 55.81%;
  top: 12.82%;
  right: 20.93%;
  bottom: 17.95%;
  left: 23.26%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.component-90 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 133px;
  left: 1150px;
  width: 43px;
  height: 39px;
}
.component-90:hover {
  border: 1px solid var(--color-black);
}
.macbook-air-15 {
  position: relative;
  width: 100%;
  height: 832px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-white);
  font-family: var(--font-poppins);
}

.component-76 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 10.22%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 83.78%;
  left: 0;
}
.rectangle-parent {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 180%;
  transition: margin-top 0.3s ease;

  /* background-color: black */
}
.component-76-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-gainsboro-200);
}
.component-76-child {
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  box-shadow: 0 6px 9px 1px rgba(0, 0, 0, 0.13);
}
.asignatura {
  position: absolute;
  top: 32.09%;
  left: 11.89%;
  font-size: 20px;
  font-weight: 500;
  font-family: var(--font-poppins);
  color: var(--color-darkslategray);
  text-align: left;
}
.component-76-item,
.image-10-icon {
  position: absolute;
  height: 8.18%;
  width: 1.08%;
  top: 47.27%;
  right: 4.25%;
  bottom: 44.55%;
  left: 94.66%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div_saliente_asignatura{
  position: absolute;
  top: 15%;
  left: 0px;
  width: 98%;;
  left: 1%;
  height: 6%;
  color: #fff2;
  /* background-color: white; */
}
.seccionToggle {
  display: none;
  position: relative;
  background-color: #ECECEC;
  color: #001F3F;
  width: 100%;
  height: 85.8%;
  padding: 50px 0;
  text-align: center;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
 }
  /* .seccionToggle h2 {
    font-size: 60px;
    margin-top: 50px; }
  .seccionToggle p {
    font-size: 20px;
    margin-bottom: 50px; } 
  .seccionToggle button {
    background: none;
    font-size: 20px;
    font-weight: bold;
    padding: 20px 40px;
    display: inline-block;
    border: 5px solid #001F3F;
    transition: 0.3s all ease; }
    .seccionToggle button:hover {
      border: 5px solid #0074D9;
      color: #0074D9; } 

btn-toggle {
  height: 50px;
  line-height: -10px;
  font-size: 32px;
  font-weight: lighter;
  color: #ffffff;
  display: block;
  text-align: center;
  text-decoration: none;
}
  .btn-toggle:hover {
    text-decoration: none;
} */
.label_seccion{
  position: absolute;
  top: 3.09%;
  left: 1.89%;
  font-size: 35px;
  font-weight: bold;
  font-family: var(--font-poppins);
  color: var(--color-darkslategray);
  text-align: left;
  /* background-color: white; */
}
.texto_seccion{
  position: absolute;
  top: 28.09%;
  left: 6%;
  font-size: 60px;
  font-family: var(--font-poppins);
  color: var(--color-darkslategray);
  text-align: left;
}
.label_estudiantes{
  position: absolute;
  top: 3.09%;
  left: 29.89%;
  font-size: 35px;
  font-weight: bold;
  font-family: var(--font-poppins);
  color: var(--color-darkslategray);
  text-align: left;
}
.num_estudiantes{
  position: absolute;
  top: 28.09%;
  left: 38%;
  font-size: 60px;
  font-family: var(--font-poppins);
  color: var(--color-darkslategray);
  text-align: left;
}
.texto_horario{
  position: absolute;
  top: 36.09%;
  left: 73%;
  font-size: 18px;
  font-family: var(--font-poppins);
  color: var(--color-darkslategray);
  text-align: left;
}
.label_horario{
  position: absolute;
  top: 3.09%;
  left: 69.89%;
  font-size: 35px;
  font-weight: bold;
  font-family: var(--font-poppins);
  color: var(--color-darkslategray);
  text-align: left;
}
.div_saliente_asignatura{
  position: absolute;
  top: 9%;
  left: 0px;
  width: 98%;;
  left: 1%;
  height: 30%;
  color: #fff2;
  /* background-color: white; */
}

.component-2-inner {
  cursor: pointer;
  border: 0;
  padding: 0;
  /* background-color: transparent; */
  position: absolute;
  position: absolute;
  height: 45.74%;
  width: 15.76%;
  top: 40.26%;
  left: 80.9%;
  border-radius: 15px;
  background: linear-gradient(265.99deg, #d289ec, #86e5f2);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 20px;
  font-weight: bold;
  color: black;
}
.component-2-inner:hover {
  animation: 1s linear 0s infinite alternate-reverse none shadow-inset-center;
  opacity: 1;
}

.info_secciones{
  position: absolute;
  top: 27%;
  width: 66%;
  left: 23%;
  height: 15%;
  border-radius: 15px;  
  background-color: rgb(231, 229, 229);
  /* background-color: white; */
}

.custom-dialog-cerrar-sesion,
.custom-dialog-cerrar-sesion .ui-dialog-buttonpane,
.custom-dialog-cerrar-sesion .ui-dialog-titlebar
{
  background: linear-gradient(265.99deg, hsl(12, 64%, 74%), hsl(46, 96%, 70%));
}
.ui-widget-header{
  border: none;
  border-bottom: 1px solid black;
}
.ui-dialog-buttonpane{
  border-top: 1px solid black;
}
.custom-dialog-cerrar-sesion .btn_aceptar{
  background: linear-gradient(265.99deg, hsl(0, 78%, 66%), hsl(17, 85%, 64%));
}
.custom-dialog-cerrar-sesion .btn_cancelar{
  background: linear-gradient(265.99deg, hsl(61, 78%, 66%), hsl(162, 85%, 64%));
}