.macbook-air-10-child {
  position: absolute;
  top: 4px;
  left: 0;
  background: linear-gradient(112.67deg, #964afd, #487afd);
  width: 1280px;
  height: 832px;
}
.macbook-air-10-item {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-darkslategray);
  width: 1280px;
  height: 104px;
}
.custom-dialog-nuevo-user {
  background: linear-gradient(265.99deg, hsl(108, 100%, 57%), hsl(147, 85%, 100%));
}
.image-1-icon2 {
  position: absolute;
  top: 25px;
  left: 38px;
  width: 51px;
  height: 51px;
  object-fit: cover;
}
.gradegenius2 {
  position: absolute;
  top: 35px;
  left: 115px;
  color: var(--color-white);
  text-align: left;
}
.custom-dialog-nueva-sec {
  background: linear-gradient(265.99deg, hsl(108, 100%, 57%), hsl(147, 85%, 100%));
}
.custom-dialog-cerrar-sesion,
.ui-dialog-buttonpane,
.ui-dialog-titlebar
{
  background: linear-gradient(265.99deg, hsl(12, 64%, 74%), hsl(46, 96%, 70%));
}
.ui-widget-header{
  border: none;
  border-bottom: 1px solid black;
}
.ui-dialog-buttonpane{
  border-top: 1px solid black;
}
.custom-dialog-cerrar-sesion .btn_aceptar{
  background: linear-gradient(265.99deg, hsl(0, 78%, 66%), hsl(17, 85%, 64%));
}
.custom-dialog-cerrar-sesion .btn_cancelar{
  background: linear-gradient(265.99deg, hsl(61, 78%, 66%), hsl(162, 85%, 64%));
}
.image-2-icon2,
.image-3-icon2 {
  position: absolute;
  object-fit: cover;
}
.image-2-icon2 {
  top: 28px;
  left: 1095px;
  border-radius: var(--br-351xl);
  width: 51px;
  height: 52px;
}
.image-3-icon2 {
  top: 36px;
  left: 1214px;
  width: 31px;
  height: 31px;
}
.macbook-air-10-child1,
.macbook-air-10-inner {
  position: absolute;
  top: 49px;
  left: 1162.8px;
  width: 10.39px;
  height: 9px;
}
.macbook-air-10-child1 {
  top: 795px;
  left: 1178.8px;
}
.macbook-air-10-child2 {
  position: absolute;
  top: 139px;
  left: 311px;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  box-shadow: 12px 12px 9px 1px rgba(0, 0, 0, 0.13);
  width: 934px;
  height: 665px;
}
.usuarios-de-sistema {
  position: absolute;
  top: 154px;
  left: 394px;
  font-size: var(--font-size-41xl);
  text-decoration: underline;
  display: inline-block;
  width: 772px;
  height: 92px;
}
.macbook-air-10-child3,
.macbook-air-10-child4,
.macbook-air-10-child5 {
  position: absolute;
  top: 312px;
  left: 387px;
  border-radius: var(--br-xl);
  background-color: var(--color-blueviolet-100);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 803px;
  height: 412px;
}
.macbook-air-10-child4,
.macbook-air-10-child5 {
  border: 2px solid var(--color-black);
}
.macbook-air-10-child5 {
  border-radius: var(--br-xl) var(--br-xl) 0 0;
  background-color: var(--color-blueviolet-300);
  border: 1px solid var(--color-black);
  height: 44px;
}
.estado1,
.id-o-matrcula1,
.nombre,
.tipo-de-usuario {
  position: absolute;
  top: 320px;
  left: 404px;
  text-decoration: underline;
  display: inline-block;
  width: 164px;
  height: 27px;
}
.estado1,
.nombre,
.tipo-de-usuario {
  left: 655px;
  width: 107px;
}
.estado1,
.tipo-de-usuario {
  left: 845px;
  width: 182px;
}
.estado1 {
  left: 1053px;
  width: 124px;
}
.macbook-air-10-child6,
.macbook-air-10-child7 {
  position: absolute;
  top: 355px;
  background-color: var(--color-white);
  box-sizing: border-box;
}
.macbook-air-10-child6 {
  left: 388px;
  border: 1px solid var(--color-black);
  width: 790px;
  height: 40px;
}
.macbook-air-10-child7 {
  left: 1177px;
  border-radius: 0 0 var(--br-21xl) 0;
  border-top: 1px solid var(--color-black);
  border-right: 2px solid var(--color-black);
  border-bottom: 1px solid var(--color-black);
  border-left: 1px solid var(--color-black);
  width: 13px;
  height: 367px;
}
.macbook-air-10-child10,
.macbook-air-10-child11,
.macbook-air-10-child8,
.macbook-air-10-child9 {
  position: absolute;
  top: 435px;
  left: 388px;
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 790px;
  height: 40px;
}
.macbook-air-10-child10,
.macbook-air-10-child11,
.macbook-air-10-child9 {
  top: 515px;
}
.macbook-air-10-child10,
.macbook-air-10-child11 {
  top: 595px;
}
.macbook-air-10-child11 {
  top: 675px;
}
.macbook-air-10-child12,
.macbook-air-10-child13,
.macbook-air-10-child14 {
  position: absolute;
  top: 312px;
  left: 575px;
  background-color: var(--color-gainsboro-200);
  border: 2px solid var(--color-black);
  box-sizing: border-box;
  width: 267px;
  height: 412px;
}
.macbook-air-10-child13,
.macbook-air-10-child14 {
  left: 840px;
  width: 199px;
}
.macbook-air-10-child14 {
  left: 1037px;
  border-radius: 0 var(--br-xl) var(--br-xl) 0;
  width: 153px;
  opacity: 0.4;
}
.frame-div {
  position: absolute;
  top: 369px;
  left: 314px;
  width: 100px;
  height: 100px;
  overflow: hidden;
}
.macbook-air-10-child15 {
  border: 2px solid var(--color-black);
  background-color: var(--color-gainsboro-100);
  position: absolute;
  top: 259px;
  left: 501px;
  border-radius: var(--br-mini);
  box-sizing: border-box;
  width: 489px;
  height: 45px;
}
.filtro {
  position: absolute;
  top: 263px;
  left: 403px;
  font-size: var(--font-size-6xl);
  display: inline-block;
  width: 98px;
  height: 40px;
}
.component-34-child {
  cursor: pointer;
  border: 2px solid var(--color-black);
  padding: 0;
  background-color: var(--color-yellow);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs);
  box-sizing: border-box;
}
.component-34-child:hover {
  border: 2px solid #ee0d0d;
  box-sizing: border-box;
}
.boton-agregar-1-icon {
  position: absolute;
  height: 66.67%;
  width: 21.82%;
  top: 16.67%;
  right: 72.73%;
  bottom: 16.67%;
  left: 5.45%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.component-34 {
  position: absolute;
  top: 738px;
  left: 707px;
  width: 165px;
  height: 54px;
}
.macbook-air-10-child16,
.macbook-air-10-child17 {
  position: absolute;
  top: 360px;
  left: 1180px;
  background-color: var(--color-darkgray);
  border: 0.3px solid var(--color-black);
  box-sizing: border-box;
  width: 6px;
  height: 105px;
}
.macbook-air-10-child17 {
  top: 312px;
  left: 388px;
  border-radius: var(--br-xl) 0 0 0;
  background-color: var(--color-gainsboro-200);
  border: 2px solid var(--color-black);
  width: 189px;
  height: 412px;
}
.component-21-child,
.component-21-item,
.macbook-air-10-child18 {
  position: absolute;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.06);
  filter: blur(1px);
}
.macbook-air-10-child18 {
  height: 7.45%;
  width: 20.94%;
  top: 27.64%;
  right: 78.98%;
  bottom: 64.9%;
  left: 0.08%;
  background-color: var(--color-gray-300);
}
.component-21-child,
.component-21-item {
  right: 0;
}
.component-21-child {
  margin: 0;
  height: 100%;
  width: 96.75%;
  top: 0;
  bottom: 0;
  left: 3.25%;
  background-color: var(--color-gray-200);
}
.component-21-item {
  height: 8.65%;
  width: 100%;
  top: 17.03%;
  bottom: 74.31%;
  left: 0;
  border-top: 1px solid var(--color-darkslateblue);
  border-bottom: 1px solid var(--color-darkslateblue);
  box-sizing: border-box;
}
.manejo-de-asignaturas2 {
  position: absolute;
  top: 31.15%;
  left: 31.05%;
  font-size: var(--font-size-mini);
  font-weight: 500;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: left;
}
.libros-3-icon2 {
  position: absolute;
  height: 59.02%;
  width: 13%;
  top: 21.31%;
  right: 72.92%;
  bottom: 19.67%;
  left: 14.08%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.component-5-inner {
  position: absolute;
  height: 103.28%;
  width: 100%;
  top: -1.64%;
  right: 0;
  bottom: -1.64%;
  left: 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.06);
  filter: blur(1px);
  border-top: 1px solid var(--color-darkslateblue);
  border-bottom: 1px solid var(--color-darkslateblue);
  box-sizing: border-box;
}
.component-52,
.component-62 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 8.38%;
  width: 100%;
  top: 8.52%;
  right: 0;
  bottom: 83.1%;
  left: 0;
}
.component-312:hover,
.component-52:hover,
.component-62:hover,
.component-72:hover,
.component-82:hover {
  border: 2px solid var(--color-fuchsia-100);
  box-sizing: border-box;
}
.component-62 {
  top: 17.17%;
  bottom: 74.45%;
}
.capitulo-2-icon2 {
  position: absolute;
  height: 59.02%;
  width: 13%;
  top: 22.95%;
  right: 72.92%;
  bottom: 18.03%;
  left: 14.08%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.component-72 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 8.38%;
  width: 100%;
  top: 25.69%;
  right: 0;
  bottom: 65.93%;
  left: 0;
}
.inicio2 {
  position: absolute;
  top: 31.15%;
  left: 45.49%;
  font-size: var(--font-size-mini);
  font-weight: 500;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: left;
}
.component-312,
.component-82 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 8.38%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 91.62%;
  left: 0;
}
.component-312 {
  top: 91.62%;
  bottom: 0;
}
.component-21,
.image-4-icon {
  position: absolute;
  top: 105px;
  left: -8px;
  width: 277px;
  height: 728px;
}
.image-4-icon {
  top: 268px;
  left: 952px;
  width: 24px;
  height: 27px;
  object-fit: cover;
}
.macbook-air-10 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 832px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
